<h1>EditSales</h1>

{{#data}}
<form action="/sales/update/{{id}}" method="POST">

	
	Date : <input type="date" name="sales_date" value="{{sales_date}}">
	Price : <input type="number" name="sales_price" value="{{sales_price}}">
	Quantity : <input type="number" name="qty" value="{{qty}}">
{{/data}}

 <select name ="product_id">
	{{#each products}}
		<option value ="{{id}}">{{product_name}}</option>
	{{/each}}
</select>

	<input type="submit">
</form>

