<h1>Add Sales</h1>

<form action ="/sales/add" method ="POST">
  <select name="product_id">
    {{#products}}
     <option value="{{id}}">{{product_name}}</option>
    {{/products}}
  </select>

  Date : <input type="date" name="sales_Date" >
  Price : <input type="number" name="sales_price" >
  Quantity: <input type="number" name="qty" >

	<input type ="submit">

</form>

<br>
<div id="gradient"></div>
  <input type="search" placeholder="Search" id="saleSearch" name="searchValue"/>


<!-- <h1>Sales Records</h1>  -->

<div class="CSSTableGenerator">
  <table class="col-xs-7" id="sales">
    <tr>
      <thead>
        <td>Product Name</td>
        <td>Price</td>
        <td>Sales date</td>
        <td>Quantity</td>
        <td>Edit / Delete</td>
      </thead>
    </tr>

    <tbody>
      {{#sales}}
        <tr>

<td>{{product_name}}</td>
<td>R{{sales_price}}</td>
<td>{{sales_date}}</td>
<td>{{qty}}</td>

<td>
  <a href="/sales/editSales/{{id}}">Edit</a>
  <a href="/sales/delete/{{id}}">Delete</a>
</td>

</tr>
{{/sales}}

</tbody>
</table>
</div>
