<!-- <h1>Add Sales</h1>
 
<form action ="/sales/add" method ="POST">
  
  <select name="product_id">

    {{#products}}
     <option value="{{id}}">{{product_name}}</option>
    {{/products}}
   </select>

  sale_date : <input type="date" name="sales_date"></input>
  sale_price : <input type="number" name="sales_price"></input>
  Quantity:<input type="number" name="qty"></input>
  
	<input type ="submit">

</form> -->

<div id="gradient"></div>
<form class="searchbox" action="/sales/search" method="POST">
  <input type="search" placeholder="Search" id="search" name="searchValue"/>
  <button type="submit" value="search">&nbsp;</button>
</form>

<!-- <h1>Sales Records</h1>  -->

<div class="container">
  <table class="col-xs-10">
    <tr>
      <thead>
        <th>Product Name</th>
        <th>Price</th>
        <th>Sales date</th>
        <th>Quantity</th>
      </thead>
    </tr>

    <tbody>
      {{#sales}}
        <tr>

<td>{{product_name}}</td>
<td>R{{sales_price}}</td>
<td>{{sales_date}}</td>
<td>{{qty}}</td>

<td> 
  <a href="/sales/editSales/{{id}}">Edit</a>
  <a href="/sales/delete/{{id}}">Delete</a>
</td>

</tr>
{{/sales}}

</tbody>
</table>
</div>
